header {
    background-color: rebeccapurple;  
}

h5 {
    text-align: center;
    color: aliceblue;
    font-family: 'Hind', 'sans-serif;';    
}
  
.description {
    text-align: center;
    font-family: garamond;
    font-size:20px;
    margin-top: 5%;    
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-family: 'Lucida Console", "Courier New", monospace';
  font-style: oblique;
}

body {
    background-image: url(./photo.png);
    background-size: 800px;
    background-position: 225px;
    background-position-y: top;
    
}

.col {
  float: left;
  width: 50%;
  font-size: 20px;
}

.leggings {
  text-align: center;
  font-family: cursive;
  font-size: 55px;
  color: rebeccapurple;
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: rebeccapurple;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity:1;
}

button:hover {
  opacity:1;
}

 .signupbtn {
  float: center;
  width: 50%;
}

/* .container {

  padding: 10px;
} */

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 150px) {
   .signupbtn {
    width: 50%;
  }
}

.dress-card-img-top {
  height: 200px;
  width:50%;
  border-radius: 7px 7px 0 0;
}

.dress-card-body {
  padding:1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;
}

.dress-card-title {
  line-height: 0.5rem;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #E06C9F;
}

.dress-card-para {
  margin-bottom: 0.2rem;
  font-size: 1.0rem;
  margin-bottom: 0rem;
}

.dress-card {
  border-radius: 14px;
}

.dress-card-heart {
  font-size: 1em;
  color: #DB2763;
  margin: 4.5px;
  position: absolute;
  left: 4px;
  top: 0px;
  
}

.surprise-bubble {
  position: absolute;
  bottom: 12rem;
  right: 2rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble a {
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-family: arial;
  text-decoration: none;
  position: absolute;
  top: 9px;
  left: 20px;
  opacity: 0;
  -webkit-transition-delay: 2s;
  /* Safari */
  transition-delay: 2s;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}



.card-button {
  margin: 55px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px;
}

.card-button a {
  text-decoration: none;
}

.card-button-inner {
  padding: 10px;
  border-radius: 10px;
}

.bag-button {
  background: #E06C9F;
  color: white;
}

.bag-button :hover{
  background: #e299b9;
}

.wish-button {
  border: 1px solid #E06C9F;
  color: #E06C9F;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rebeccapurple;
    color: white;
    margin-top: 15%;
  }

  #signIn {
    width: 5rem;
  }